<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <div class="background">
          
                <%- include('../includes/navigation.ejs') %>

                    <h1><i>CHÀO MỪNG ĐẾN VỚI CÔNG TY, VUI LÒNG CHỌN TÁC VỤ SAU... </i></h1>

                    <button type="submit" class="btn-index"><a href='/timekeeping'>CHẤM CÔNG</a></button>
                    <button type="submit" class="btn-index"><a href='/staff-info'>THÔNG TIN CÁ NHÂN</a></button>
                    <button type="submit" class="btn-index"><a href='/salary'>THÔNG TIN BẢNG LƯƠNG</a></button>
                    <button type="submit" class="btn-index"><a href='/covid'>ĐĂNG KÍ COVID-19</a></button>
               
        </div>
        <%- include('../includes/end.ejs') %>